<form method="POST" action="/login">
  <input type="email" name='email' placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Log in</button>
</form>
<h1>I'm the login!</h1>
