body {
  padding-bottom: 100px;
  background-image: url("/images/pattern.jpg");
}
*{
  box-sizing:border-box;
}

h1 {
  padding: 25px;
}

.navbar {
  background-color: #e3f2fd;
}

.boring {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.center_me{
  margin-top: 5%
}

.pagination a {
  color: red;
  padding: 8px 16px;
  text-decoration: none;
}
