<h1>Sign up!</h1>

<form method ="POST" action="/users/new">
  <input class="form-control" type="text" name="firstname" placeholder="First Name">
  <input class="form-control" type="text" name="lastname" placeholder="Last Name">
  <input class="form-control" type="text" name="email" placeholder="Email">
  <input class="form-control" type="date" name="birthday">
  <input class="form-control" type="text" name="username" placeholder="Username">
  <input class="form-control" type="password" name="password" placeholder="Password">
  <input class="form-control" type="password" name="password2" placeholder="Confirm password">
  <button type="Submit">Sign up!</button>
</form>
