<h1>Sign up!</h1>

<form method ="POST" action="/users/new">
  <input type="text" name="firstname" placeholder="First Name">
  <input type="text" name="lastname" placeholder="Last Name">
  <input type="text" name="email" placeholder="Email">
  <input type="date" name="birthday">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password2" placeholder="Re-enter password">
  <button type="Submit">Sign up!</button>
</form>
