<h1>Pose a question!</h1>

<form method ="POST" action="/posts/new">
  <input type="text" name="hypothetical" placeholder="Ask your hypothetical">
  <input type="text" name="tag_one" placeholder="Tag">
  <input type="text" name="tag_two" placeholder="Tag">
  <input type="text" name="tag_three" placeholder="Tag">
  <input type="text" name="tag_four" placeholder="Tag">
  <input type="text" name="tag_five" placeholder="Tag">
  <button type="Submit">Ask!</button>
</form>
